## Jaylan Igbinoba

This project focuses on building and maintaining a data-driven dashboard for Satisfeed, a food bank that serves up to 56,000 families. The primary goals are to keep the dashboard updated weekly to accurately reflect the number of people served and to collect and analyze demographic data to generate meaningful statistics that support planning, reporting, and decision-making We are currently being tasked to collect and gather data to help with these needs.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from google.colab import files
uploaded = files.upload()

Saving DataSet for Satisfeed.xlsx to DataSet for Satisfeed.xlsx

This dataset below contains the data for the percentage of student that have free and/or reduced lunch in Georgia. The following data below didnt need much cleaning however I still check to see if the data can be viewed a bit better. [Link to the DataSet.](https://ggcedu-my.sharepoint.com/:x:/g/personal/jigbinoba_ggc_edu/IQAk6TAWy7Y3QovA69ol1oSFARgWP-_uXz3k0q5sBITem-E?e=Mpdscf)

In [ ]:
df_lunch = pd.read_excel("DataSet for Satisfeed.xlsx", sheet_name="PDF")
df_lunch.head()

,Fiscal Year,School District,County,Column4,Percentage (%) of Free & Reduced
0,2025,Appling County,Appling,Appling County Middle School,0.95
1,2025,Appling County,Appling,Appling County Elementary School,0.95
2,2025,Appling County,Appling,Appling County High School,0.95
3,2025,Appling County,Appling,Fourth District Elementary School,0.95
4,2025,Appling County,Appling,Altamaha Elementary School,0.95

In [ ]:
# Renamed the column name for better readabilty as well as dropping null values.
df_lunch.rename(columns={ "Column4": "School Name"}, inplace=True)
df_lunch.dropna()
df_lunch.head()

,Fiscal Year,School District,County,School Name,Percentage (%) of Free & Reduced
0,2025,Appling County,Appling,Appling County Middle School,0.95
1,2025,Appling County,Appling,Appling County Elementary School,0.95
2,2025,Appling County,Appling,Appling County High School,0.95
3,2025,Appling County,Appling,Fourth District Elementary School,0.95
4,2025,Appling County,Appling,Altamaha Elementary School,0.95

In [ ]:
# I sorted the school districts for readabilty.
df_lunch.sort_values(by="School District")

df_lunch["Percentage (%) of Free & Reduced"] = df_lunch["Percentage (%) of Free & Reduced"].round(2)

df_lunch

,Fiscal Year,School District,County,School Name,Percentage (%) of Free & Reduced
0,2025,Appling County,Appling,Appling County Middle School,0.95
1,2025,Appling County,Appling,Appling County Elementary School,0.95
2,2025,Appling County,Appling,Appling County High School,0.95
3,2025,Appling County,Appling,Fourth District Elementary School,0.95
4,2025,Appling County,Appling,Altamaha Elementary School,0.95
...,...,...,...,...,...
2314,2025,Worth County,Worth,Worth County Primary School,0.95
2315,2025,Worth County,Worth,Worth County Elementary School,0.95
2316,2025,Worth County,Worth,Worth County Middle School,0.95
2317,2025,Worth County,Worth,Worth County High School,0.89
2318,2025,Worth County,Worth,Worth County Achievement Center,0.95

In [ ]:
# Renamed the column name for better readabilty.
df_lunch.rename(columns={ "Column4": "School Name"}, inplace=True)

In [ ]:
from google.colab import files
df_lunch.to_csv('Cleaned Free and Reduced Lunch.csv', index=False)
files.download('Cleaned Free and Reduced Lunch.csv')

## Ethan Boderas

### Dataset 1

Link to website containing original Dataset: https://georgiainsights.gadoe.org/data-downloads/

The first data set contains information regarding student growth percentile for the school level across Georgia. Each entry in the dataset contains information about the school, including the school code, system name, school name, and RESA. The main data focuses on only two academic categories: English language arts and mathematics. Each of these categories contains the following information: Number received SGP, median SGP, %Low Growth, %Typical Growth, and %High Growth.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df_eog = pd.read_excel('SGP_EOG_Aggs_School_Level_2023.xlsx', header=1, skiprows=[0])

In [ ]:
df_eog.head()

,System Code,School Code,System Name,School Name,Number Received SGP,Median\nSGP,% Low Growth,% Typical Growth,% High Growth,Number Received SGP.1,Median\nSGP.1,% Low Growth.1,% Typical Growth.1,% High Growth.1,RESAName_RPT
0,601,177,APPLING COUNTY,APPLING COUNTY ELEMENTARY SCHOOL,164,45.5,39.02439,30.487805,30.487805,165,52,29.090909,34.545455,36.363636,FIRST DISTRICT
1,601,1050,APPLING COUNTY,ALTAMAHA ELEMENTARY SCHOOL,57,55,21.052632,42.105263,36.842105,57,49,35.087719,35.087719,29.824561,FIRST DISTRICT
2,601,5050,APPLING COUNTY,FOURTH DISTRICT ELEMENTARY SCHOOL,17,52,29.411765,29.411765,41.176471,17,53,41.176471,23.529412,35.294118,FIRST DISTRICT
3,602,187,ATKINSON COUNTY,WILLACOOCHEE ELEMENTARY SCHOOL,25,37,44,28,28,25,69,12,32,56,OKEFENOKEE
4,602,190,ATKINSON COUNTY,PEARSON ELEMENTARY SCHOOL,80,71,21.25,23.75,55,80,53.5,32.5,26.25,41.25,OKEFENOKEE

In [ ]:
df_eog = df_eog.drop(columns="RESAName_RPT")
df_eog.head()

,System Code,School Code,System Name,School Name,Number Received SGP,Median\nSGP,% Low Growth,% Typical Growth,% High Growth,Number Received SGP.1,Median\nSGP.1,% Low Growth.1,% Typical Growth.1,% High Growth.1
0,601,177,APPLING COUNTY,APPLING COUNTY ELEMENTARY SCHOOL,164,45.5,39.02439,30.487805,30.487805,165,52,29.090909,34.545455,36.363636
1,601,1050,APPLING COUNTY,ALTAMAHA ELEMENTARY SCHOOL,57,55,21.052632,42.105263,36.842105,57,49,35.087719,35.087719,29.824561
2,601,5050,APPLING COUNTY,FOURTH DISTRICT ELEMENTARY SCHOOL,17,52,29.411765,29.411765,41.176471,17,53,41.176471,23.529412,35.294118
3,602,187,ATKINSON COUNTY,WILLACOOCHEE ELEMENTARY SCHOOL,25,37,44,28,28,25,69,12,32,56
4,602,190,ATKINSON COUNTY,PEARSON ELEMENTARY SCHOOL,80,71,21.25,23.75,55,80,53.5,32.5,26.25,41.25

Since the dataset is an official report from the government, it is very clean and require any additional cleaning. The only change to the dataset is dropping the â€œRESAName_RPTâ€ column, since it is unlikely to be used in this project.

Below is the final cleaned dataset:

In [ ]:
df_eog.head()

,System Code,School Code,System Name,School Name,Number Received SGP,Median\nSGP,% Low Growth,% Typical Growth,% High Growth,Number Received SGP.1,Median\nSGP.1,% Low Growth.1,% Typical Growth.1,% High Growth.1
0,601,177,APPLING COUNTY,APPLING COUNTY ELEMENTARY SCHOOL,164,45.5,39.02439,30.487805,30.487805,165,52,29.090909,34.545455,36.363636
1,601,1050,APPLING COUNTY,ALTAMAHA ELEMENTARY SCHOOL,57,55,21.052632,42.105263,36.842105,57,49,35.087719,35.087719,29.824561
2,601,5050,APPLING COUNTY,FOURTH DISTRICT ELEMENTARY SCHOOL,17,52,29.411765,29.411765,41.176471,17,53,41.176471,23.529412,35.294118
3,602,187,ATKINSON COUNTY,WILLACOOCHEE ELEMENTARY SCHOOL,25,37,44,28,28,25,69,12,32,56
4,602,190,ATKINSON COUNTY,PEARSON ELEMENTARY SCHOOL,80,71,21.25,23.75,55,80,53.5,32.5,26.25,41.25

Run to download clean dataset:

In [ ]:
from google.colab import files
df_eog.to_csv('cleaned_SGP_EOG_Aggs_School_Level_2023.csv', index=False)
files.download('cleaned_SGP_EOG_Aggs_School_Level_2023.csv')

### Dataset 2

Link to website containing original Dataset: https://www.fns.usda.gov/pd/supplemental-nutrition-assistance-program-snap

This dataset was obtained from the Food and Nutrition Service and contains information on SNAP benefits across the USA. The data covers all substates/regions across the USA and provides information on the number of participants and households receiving SNAP benefits. In addition, both persons and households are split into groups of â€œPublic Assistanceâ€ and â€œNon-Public Assistanceâ€ participation.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df_snap = pd.read_excel('SNAP - National Data Bank JUL 2023.xlsx', header=2, skiprows=[0])
df_snap.head()

,Substate/Region,SNAP All Persons Public Assistance Participation,Unnamed: 2,SNAP All Persons Non-Public Assistance Participation,Unnamed: 4,Calc: SNAP Total PA and Non-PA People,Unnamed: 6,SNAP All Households Public Assistance Participation,Unnamed: 8,SNAP All Households Non-Public Assistance Participation,Unnamed: 10,Calc: SNAP Total PA and Non-PA Households,Unnamed: 12,SNAP All Total Actual PA & Non-PA Issuance
0,0100101 AL EBT AUTAUGA CO FS OFF,958,NaN,6818,NaN,7776,NaN,586,NaN,3029,NaN,3615,NaN,1439934.0
1,0100301 AL EBT BALDWIN CO FS OFF,1803,NaN,20042,NaN,21845,NaN,1147,NaN,9095,NaN,10242,NaN,4161067.0
2,0100501 AL EBT BARBOUR CO FS OFF,799,NaN,5213,NaN,6012,NaN,514,NaN,2473,NaN,2987,NaN,1136374.0
3,0100701 AL EBT BIBB CO FS OFF,519,NaN,2813,NaN,3332,NaN,356,NaN,1378,NaN,1734,NaN,598634.0
4,0100901 AL EBT BLOUNT CO FS OFF,883,NaN,5884,NaN,6767,NaN,614,NaN,2738,NaN,3352,NaN,1205872.0

In [ ]:
df_snap = df_snap.dropna(axis=1, how='all')
df_snap.head()

,Substate/Region,SNAP All Persons Public Assistance Participation,SNAP All Persons Non-Public Assistance Participation,Calc: SNAP Total PA and Non-PA People,SNAP All Households Public Assistance Participation,SNAP All Households Non-Public Assistance Participation,Calc: SNAP Total PA and Non-PA Households,SNAP All Total Actual PA & Non-PA Issuance
0,0100101 AL EBT AUTAUGA CO FS OFF,958,6818,7776,586,3029,3615,1439934.0
1,0100301 AL EBT BALDWIN CO FS OFF,1803,20042,21845,1147,9095,10242,4161067.0
2,0100501 AL EBT BARBOUR CO FS OFF,799,5213,6012,514,2473,2987,1136374.0
3,0100701 AL EBT BIBB CO FS OFF,519,2813,3332,356,1378,1734,598634.0
4,0100901 AL EBT BLOUNT CO FS OFF,883,5884,6767,614,2738,3352,1205872.0

In [ ]:
df_snap = df_snap[df_snap['Substate/Region'].astype(str).str.startswith('13')]
df_snap.head(n=10)

,Substate/Region,SNAP All Persons Public Assistance Participation,SNAP All Persons Non-Public Assistance Participation,Calc: SNAP Total PA and Non-PA People,SNAP All Households Public Assistance Participation,SNAP All Households Non-Public Assistance Participation,Calc: SNAP Total PA and Non-PA Households,SNAP All Total Actual PA & Non-PA Issuance
354,1300101 GA EBT APPLING,474,3252,3726,280,1496,1776,644272.0
355,1300301 GA EBT ATKINSON,214,1548,1762,130,712,842,295584.0
356,1300501 GA EBT BACON,300,2152,2452,177,954,1131,434593.0
357,1300701 GA EBT BAKER,122,648,770,97,345,442,134150.0
358,1300901 GA EBT BALDWIN,1087,6240,7327,752,3079,3831,1299959.0
359,1301101 GA EBT BANKS,273,1873,2146,166,884,1050,355899.0
360,1301301 GA EBT BARROW,1182,8324,9506,781,3898,4679,1694993.0
361,1301501 GA EBT BARTOW CO DFCS,1589,11821,13410,1032,5587,6619,2422495.0
362,1301701 GA EBT BEN HILL,613,3625,4238,387,1769,2156,720659.0
363,1301901 GA EBT BERRIEN CO DFCS,550,3203,3753,332,1519,1851,641514.0

In [ ]:
# Extract identification code and insert at the beginning
df_snap.insert(0, 'identification code', df_snap['Substate/Region'].astype(str).str[:7])
df_snap.head()

,identification code,Substate/Region,SNAP All Persons Public Assistance Participation,SNAP All Persons Non-Public Assistance Participation,Calc: SNAP Total PA and Non-PA People,SNAP All Households Public Assistance Participation,SNAP All Households Non-Public Assistance Participation,Calc: SNAP Total PA and Non-PA Households,SNAP All Total Actual PA & Non-PA Issuance
354,1300101,1300101 GA EBT APPLING,474,3252,3726,280,1496,1776,644272.0
355,1300301,1300301 GA EBT ATKINSON,214,1548,1762,130,712,842,295584.0
356,1300501,1300501 GA EBT BACON,300,2152,2452,177,954,1131,434593.0
357,1300701,1300701 GA EBT BAKER,122,648,770,97,345,442,134150.0
358,1300901,1300901 GA EBT BALDWIN,1087,6240,7327,752,3079,3831,1299959.0

In [ ]:
# Extract 'County' data
county_data = df_snap['Substate/Region'].astype(str).str.split(' EBT ', n=1).str[1].str.strip()
df_snap.insert(1, 'County', county_data)

df_snap.head()

,identification code,County,Substate/Region,SNAP All Persons Public Assistance Participation,SNAP All Persons Non-Public Assistance Participation,Calc: SNAP Total PA and Non-PA People,SNAP All Households Public Assistance Participation,SNAP All Households Non-Public Assistance Participation,Calc: SNAP Total PA and Non-PA Households,SNAP All Total Actual PA & Non-PA Issuance
354,1300101,APPLING,1300101 GA EBT APPLING,474,3252,3726,280,1496,1776,644272.0
355,1300301,ATKINSON,1300301 GA EBT ATKINSON,214,1548,1762,130,712,842,295584.0
356,1300501,BACON,1300501 GA EBT BACON,300,2152,2452,177,954,1131,434593.0
357,1300701,BAKER,1300701 GA EBT BAKER,122,648,770,97,345,442,134150.0
358,1300901,BALDWIN,1300901 GA EBT BALDWIN,1087,6240,7327,752,3079,3831,1299959.0

In [ ]:
df_snap = df_snap.drop(columns=['Substate/Region'])
df_snap.head()

,identification code,County,SNAP All Persons Public Assistance Participation,SNAP All Persons Non-Public Assistance Participation,Calc: SNAP Total PA and Non-PA People,SNAP All Households Public Assistance Participation,SNAP All Households Non-Public Assistance Participation,Calc: SNAP Total PA and Non-PA Households,SNAP All Total Actual PA & Non-PA Issuance
354,1300101,APPLING,474,3252,3726,280,1496,1776,644272.0
355,1300301,ATKINSON,214,1548,1762,130,712,842,295584.0
356,1300501,BACON,300,2152,2452,177,954,1131,434593.0
357,1300701,BAKER,122,648,770,97,345,442,134150.0
358,1300901,BALDWIN,1087,6240,7327,752,3079,3831,1299959.0

Although the dataset does not contain any missing data, it needed to be cleaned for only the relevant data. The first change I made was to remove all rows that did not contain information regarding Georgia. The Second change was to drop the empty columns. Although keeping all region-identifying data in a single column might have been beneficial, it was too clustered and contained unnecessary information. As a result, I took the relevant information (identification code and County) and stored them in separate columns. Finally, I deleted the old column (Substate/Region).

Below is the final dataset:

In [ ]:
df_snap.head()

,identification code,County,SNAP All Persons Public Assistance Participation,SNAP All Persons Non-Public Assistance Participation,Calc: SNAP Total PA and Non-PA People,SNAP All Households Public Assistance Participation,SNAP All Households Non-Public Assistance Participation,Calc: SNAP Total PA and Non-PA Households,SNAP All Total Actual PA & Non-PA Issuance
354,1300101,APPLING,474,3252,3726,280,1496,1776,644272.0
355,1300301,ATKINSON,214,1548,1762,130,712,842,295584.0
356,1300501,BACON,300,2152,2452,177,954,1131,434593.0
357,1300701,BAKER,122,648,770,97,345,442,134150.0
358,1300901,BALDWIN,1087,6240,7327,752,3079,3831,1299959.0

Run to download the cleaned dataset:

In [ ]:
from google.colab import files
df_snap.to_csv('cleaned_SNAP - National Data Bank JUL 2023.csv', index=False)
files.download('cleaned_SNAP - National Data Bank JUL 2023.csv')

### Dataset 3

Link to website containing original Dataset: https://datacenter.aecf.org/data/tables/678-households-with-children-receiving-benefits-from-the-supplemental-nutrition-assistance-program-snap


This dataset was obtained from the Annie E. Casey Foundation and is very simple. The dataset consists of location type, location, timeframe, data format, and the number of households with children receiving SNAP benefits.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df_snap_house = pd.read_excel('Households with children receiving benefits from SNAP.xlsx')
df_snap_house.head(n=10)

  LocationType Location  TimeFrame DataFormat    Data
0        State  Georgia       2003     Number  183305
1        State  Georgia       2004     Number  200752
2        State  Georgia       2005     Number  208950
3        State  Georgia       2006     Number  213155
4        State  Georgia       2007     Number  212005
5        State  Georgia       2008     Number  249184
6        State  Georgia       2009     Number  319871
7        State  Georgia       2010     Number  379268
8        State  Georgia       2011     Number  411740
9        State  Georgia       2012     Number  427540

In [ ]:
df_snap_house = df_snap_house.drop(columns="DataFormat")
df_snap_house.head(n=10)

  LocationType Location  TimeFrame    Data
0        State  Georgia       2003  183305
1        State  Georgia       2004  200752
2        State  Georgia       2005  208950
3        State  Georgia       2006  213155
4        State  Georgia       2007  212005
5        State  Georgia       2008  249184
6        State  Georgia       2009  319871
7        State  Georgia       2010  379268
8        State  Georgia       2011  411740
9        State  Georgia       2012  427540

In [ ]:
years_to_keep = [2024, 2023, 2022, 2021]
df_snap_house = df_snap_house[df_snap_house['TimeFrame'].isin(years_to_keep)]
df_snap_house.head(n=10)

   LocationType  Location  TimeFrame    Data
18        State   Georgia       2021  450710
19        State   Georgia       2022  420166
20        State   Georgia       2023  429049
21        State   Georgia       2024  417226
40       County   Appling       2021    1077
41       County   Appling       2022     971
42       County   Appling       2023    1025
43       County   Appling       2024    1006
62       County  Atkinson       2021     465
63       County  Atkinson       2022     456

This dataset is very minimalistic and clean, so it did not require any major changes. The only changes made were dropping the DataFormat, and all rows that were in the following timeframe: 2024, 2023, 2022, or 2021. Since our client does not need data from far back, only data from recent years was kept.

Run to download clean dataset:

In [ ]:
from google.colab import files
df_snap_house.to_csv('cleaned_Households with children receiving benefits from SNAP.csv', index=False)
files.download('cleaned_Households with children receiving benefits from SNAP.csv')

## Wilmer Cifuentes

Dataset 1

Website link: https://gosa.georgia.gov/dashboards-data-report-card/downloadable-data

This dataset provides county level and district level student data on free and reduced lunch eligibility, including total student counts, number of qualifying students, and eligibility percentages.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_excel('2025_directly_certified_district.xls')
df.head()

,FISCAL_YEAR,SYSTEM_ID,SYSTEM_NAME,direct_cert_perc,K12_POVERTY_STUDENT_CT,K12_STUDENT_COUNT
0,2025,601,Appling County,63.1,2014,3194
1,2025,602,Atkinson County,70.1,1043,1488
2,2025,603,Bacon County,66.4,1333,2007
3,2025,604,Baker County,84.0,225,268
4,2025,605,Baldwin County,72.8,3063,4210

The dataset was already cleaned when downloaded from site so needed no changes.

Dataset 2

Website link: https://map.feedingamerica.org/county/2023/overall/georgia

This dataset comes from Feeding Americaâ€™s Map the Meal Gap and provides county level food insecurity metrics, including food insecurity rates, number of affected individuals and children, cost per meal, and estimated food budget shortfalls.

In [ ]:
import pandas as pd

df = pd.read_excel("MMG2025_2019-2023_Data_To_Share.xlsx", sheet_name="County", dtype={"FIPS": str})

df.columns = df.columns.str.strip()
df.head()

,FIPS,State,"County, State",Year,Overall Food Insecurity Rate,# of Food Insecure Persons Overall,Food Insecurity Rate among Black Persons (all ethnicities),Food Insecurity Rate among Hispanic Persons (any race),"Food Insecurity Rate among White, non-Hispanic Persons",SNAP Threshold,...,% food insecure children in HH w/ HH incomes below 185 FPL,% food insecure children in HH w/ HH incomes above 185 FPL,Cost Per Meal,Weighted weekly $ needed by FI,Weighted Annual Food Budget Shortfall,Rural-Urban Continuum Code (2013),Rural-Urban Continuum Code (2023),Census Region,Census Division,FNS Region
0,01001,AL,"Autauga County, Alabama",2019,0.157,8670.0,0.26,NaN,0.12,1.3,...,0.69,0.31,3.00,16.88,4439000.0,2.0,NaN,South,East South Central,Southeast
1,01001,AL,"Autauga County, Alabama",2020,0.145,8070.0,0.25,NaN,0.09,1.3,...,0.71,0.29,3.22,17.09,4184000.0,2.0,NaN,South,East South Central,Southeast
2,01001,AL,"Autauga County, Alabama",2021,0.133,7770.0,0.23,NaN,0.09,1.3,...,0.68,0.32,3.60,20.99,4947000.0,2.0,NaN,South,East South Central,Southeast
3,01001,AL,"Autauga County, Alabama",2022,0.151,8860.0,0.23,NaN,0.11,1.3,...,0.68,0.32,4.01,24.86,6680000.0,2.0,2.0,South,East South Central,Southeast
4,01001,AL,"Autauga County, Alabama",2023,0.151,8970.0,0.24,NaN,0.12,1.3,...,0.66,0.34,3.64,22.72,6183000.0,2.0,2.0,South,East South Central,Southeast

In [ ]:
ga_2023 = df[(df["State"] == "GA") & (df["Year"] == 2023)].reset_index(drop=True)
ga_2023

,FIPS,State,"County, State",Year,Overall Food Insecurity Rate,# of Food Insecure Persons Overall,Food Insecurity Rate among Black Persons (all ethnicities),Food Insecurity Rate among Hispanic Persons (any race),"Food Insecurity Rate among White, non-Hispanic Persons",SNAP Threshold,...,% food insecure children in HH w/ HH incomes below 185 FPL,% food insecure children in HH w/ HH incomes above 185 FPL,Cost Per Meal,Weighted weekly $ needed by FI,Weighted Annual Food Budget Shortfall,Rural-Urban Continuum Code (2013),Rural-Urban Continuum Code (2023),Census Region,Census Division,FNS Region
0,13001,GA,"Appling County, Georgia",2023,0.189,3480.0,0.27,0.24,0.14,1.3,...,0.99,0.01,3.32,20.75,2190000.0,7.0,7.0,South,South Atlantic,Southeast
1,13003,GA,"Atkinson County, Georgia",2023,0.189,1560.0,0.27,0.24,0.13,1.3,...,0.98,0.02,3.30,20.59,974000.0,9.0,9.0,South,South Atlantic,Southeast
2,13005,GA,"Bacon County, Georgia",2023,0.183,2040.0,0.22,0.34,0.13,1.3,...,0.91,0.09,3.30,20.59,1274000.0,7.0,9.0,South,South Atlantic,Southeast
3,13007,GA,"Baker County, Georgia",2023,0.196,550.0,0.36,NaN,0.12,1.3,...,1.00,0.00,3.30,20.59,344000.0,3.0,8.0,South,South Atlantic,Southeast
4,13009,GA,"Baldwin County, Georgia",2023,0.164,7170.0,0.26,0.23,0.14,1.3,...,0.73,0.27,3.68,23.00,5003000.0,4.0,4.0,South,South Atlantic,Southeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,13313,GA,"Whitfield County, Georgia",2023,0.157,16180.0,0.23,0.19,0.13,1.3,...,0.84,0.16,3.39,21.17,10391000.0,3.0,3.0,South,South Atlantic,Southeast
155,13315,GA,"Wilcox County, Georgia",2023,0.176,1550.0,0.30,NaN,0.13,1.3,...,0.78,0.22,3.57,22.28,1047000.0,8.0,9.0,South,South Atlantic,Southeast
156,13317,GA,"Wilkes County, Georgia",2023,0.165,1570.0,0.22,NaN,0.11,1.3,...,0.97,0.03,3.31,20.69,985000.0,6.0,8.0,South,South Atlantic,Southeast
157,13319,GA,"Wilkinson County, Georgia",2023,0.160,1410.0,0.21,NaN,0.12,1.3,...,0.68,0.32,3.68,23.00,984000.0,8.0,8.0,South,South Atlantic,Southeast
158,13321,GA,"Worth County, Georgia",2023,0.176,3610.0,0.28,NaN,0.13,1.3,...,0.86,0.14,3.29,20.55,2250000.0,3.0,3.0,South,South Atlantic,Southeast

Filter to Georgia & the year 2023 because Satisfeed is local and the project focuses on current county needs.

Keep only relevant columns so visuals and analysis stay focused on food insecurity + cost + gap.